html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: #f1f2f6;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: #000;
  text-decoration: none;
  margin-right: 20px;
}

nav form {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

nav form #search-input {
  width: 100%;
  max-width: 500px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #ff8600;
  margin-bottom: 0;
  margin-right: 20px;
}

nav input:focus {
  outline: none;
}

nav span {
  font-weight: 500;
  cursor: pointer;
}

footer {
  margin-top: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.5px solid #c0c2ca;
}

footer a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  margin-left: 5px;
  text-decoration: underline;
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
